bblog/
*.a
*.bs
*.o
Makefile
*~
*.bak
*.swp
.hg/
.git/
MYMETA.*
*.tar.gz
_build/
blib/
Build/
META.json
META.yml
*.old
*.orig
pm_to_blib
.metadata/
.idea/
*.debug
*.iml
cmake-build-debug/
cmake/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compiler*.d
*.cbp
